@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --color-blue: #1D3557;
}

* {
  margin: 0px;
  font-family: "DM Sans", serif;
}
/* body{
  overflow: hidden;
} */